.admin
    h1
        font-family: $font-serif
        padding: 30px
    h2
        font-family: $font-sansserif
        text-align: center
        padding-top: 30px
        font-size: 1.5rem
    p
        font-family: $font-sansserif
        line-height: $line-height
    input
        width: 100%
        margin: 5px 0

.addBox
    text-align: left
    width: 80%
    margin-left: auto
    margin-right: auto
    margin-top: 30px
    margin-bottom: 30px
    padding: 20px 40px
    @include box-shadow()
