.filter
    margin-top: 20px
    display: flex

.searchBar
    display: inline-block
    margin: 0 auto
    text-align: center
    padding: 20px 40px 10px 40px
    @include box-shadow()

    input
        margin-bottom: 20px
        margin-right: 11px

@media (max-width: 490px)
    .searchBar
        margin: 0 18%
