.headerContainer
    width: 100%
    // height: 75px
    display: flex
    flex-direction: row
    justify-content: space-between

.logo
    margin: 20px

.cartBtn
    margin: 0 5px

.userBtn
    margin: 0 5px

.loginBtn
    // @include button()
    margin: 0 5px

.logoutBtn
    // @include button()
    margin: 0 5px

.userBtns
    display: flex
    justify-content: space-around
    margin: 20px
    button
        // margin: 0 2%
