.headerContainer
    width: 100%
    // height: 75px
    display: flex
    flex-direction: row
    justify-content: space-between

.logo
    margin: 20px

.authBtn
    margin: 20px

.loginBtn
    @include button()

.logoutBtn
    @include button()
