=text-shadow()
    text-shadow: 1px 1px 2px rgba(0,0,0,0.49)

.hero
    width: 100vw
    height: 50vh
    margin-bottom: 170px
    margin-top: -170px
    // position: relative
    .heroText
        position: relative
        top: 70%
        h1
            font-family: $font-sansserif
            font-weight: 700
            font-size: 3rem
            @include text-shadow()
        h3
            font-family: $font-serif
            font-size: 1.2rem
            @include text-shadow()
    .videoTag
        width: 100vw
        height: 50vh
        object-fit: cover
        top: 0
        left: 0
        z-index: -1

@media (min-width: $bp-tablet)
    .hero
        margin-top: -200px
        margin-bottom: 200px
        .heroText
            h1
                font-size: 4rem
            h3
                font-size: 1.5rem
