.productDisplay
    display: flex
    flex-flow: column nowrap
    img
        display: block
        width: 325px
        margin: 0 auto
        object-fit: cover
    .infoDisplay
        text-align: center
        margin: 0 20px
        line-height: 1.4rem
        h1
            font-family: $font-serif
            display: inline-block
            font-size: 1.5rem
            margin-bottom: 20px
            padding-bottom: 8px
            @include underline-shadow()
        p
            font-family: $font-sansserif
            margin-bottom: 5px

.doesOwnButton
    display: inline-block
    background: none
    color: white
    font-family: Tahoma
    letter-spacing: 1px
    border: 1px solid white
    border-radius: 4px
    padding: 10px
    margin: 0 10px
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.3)

.images
    margin: 30px auto
    img
        width: 90vw

@media (min-width: $bp-mobile)
    .images
        img
            width: 80vw

@media (min-width: $bp-tablet)
    .images
        img
            width: 50vw
