.userBox
    display: flex
    flex-direction: column
    margin: 10px 20px
    img
        height: 250px
        object-fit: contain

.textBox
    text-align: center
    h2
        font-size: 1.5rem
        margin: 20px 0
    p
        margin: 20px
    button
        margin: 5px 45px

@media (min-width: 400px)
    .userBox
        flex-direction: row
