@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Raleway:wght@400;800&display=swap");
* {
  box-sizing: border-box;
}

body {
  background: #282828;
  color: white;
}

.headerContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  height: 80px;
}

.cartBtn {
  margin: 0 5px;
}

.userBtn {
  margin: 0 5px;
}

.loginBtn {
  margin: 0 5px;
}

.logoutBtn {
  margin: 0 5px;
}

.userBtns {
  display: flex;
  justify-content: space-around;
  margin: 30px 5px;
}

.authContainer {
  display: flex;
  flex-direction: column;
}
.authContainer h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}
.authContainer input {
  margin: 5px 0;
}

.box {
  text-align: left;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px 40px;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.8);
}

button {
  text-align: center;
}

.admin h1 {
  font-family: "PT Serif";
  padding: 30px;
}
.admin h2 {
  font-family: "Raleway";
  text-align: center;
  padding-top: 30px;
  font-size: 1.5rem;
}
.admin p {
  font-family: "Raleway";
  line-height: 1.4;
}
.admin input {
  width: 100%;
  margin: 5px 0;
}

.addBox {
  text-align: left;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px 40px;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.8);
}

.adminBox {
  text-align: left;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px 40px;
  overflow: auto;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.8);
}
.adminBox .adminFlex {
  display: flex;
}
.adminBox .adminFlex .adminImg {
  height: 200px;
  object-fit: contain;
  margin-right: 5px;
}
.adminBox input {
  width: 100%;
  margin: 5px 0;
}

@media (max-width: 480px) {
  .adminImg {
    display: none;
  }
}
.products {
  text-align: center;
}
.products h1 {
  font-family: "PT Serif";
  text-align: center;
  font-size: 2rem;
  margin: 0 15px;
}

.productFlex {
  display: flex;
  flex-direction: column;
}

.productBox img {
  display: block;
  height: 350px;
  object-fit: cover;
  margin: 0 auto;
  cursor: pointer;
}

@media (min-width: 480px) {
  .productFlex {
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0;
  }
}
@media (min-width: 800px) {
  .productBox img {
    transition: 0.5s;
    filter: brightness(60%) grayscale(50%);
  }
  .productBox img:hover {
    filter: brightness(100%) grayscale(0%);
  }
}
.productDisplay {
  display: flex;
  flex-flow: column nowrap;
}
.productDisplay img {
  display: block;
  width: 325px;
  margin: 0 auto;
  object-fit: cover;
}
.productDisplay .infoDisplay {
  text-align: center;
  margin: 0 20px;
  line-height: 1.4rem;
}
.productDisplay .infoDisplay h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  padding-bottom: 5px;
  -webkit-box-shadow: 0px 10px 13px -12px #000000, 0px 28px 0px 26px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -12px #000000, 0px 28px 0px 26px rgba(0, 0, 0, 0);
}

.filter {
  margin-top: 20px;
  display: flex;
}

.searchBar {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  padding: 20px 40px 10px 40px;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.8);
}
.searchBar input {
  margin-bottom: 20px;
  margin-right: 11px;
}

@media (max-width: 490px) {
  .searchBar {
    margin: 0 18%;
  }
}
h1 {
  text-align: center;
  font-size: 2rem;
  font-family: "PT Serif";
  padding: 10px;
}

.userBox {
  display: flex;
  flex-direction: column;
}
.userBox img {
  height: 250px;
  object-fit: contain;
}

.textBox {
  text-align: center;
  margin-top: 30px;
}
.textBox h2 {
  font-size: 1.5rem;
  margin: 20px 0;
  font-family: "PT Serif";
  line-height: 1.4;
}
.textBox p {
  margin: 20px;
  font-family: "Raleway";
}
.textBox button {
  margin: 5px 45px;
}

@media (min-width: 480px) {
  .userBox {
    flex-direction: row;
    justify-content: center;
  }
}
.cart {
  text-align: center;
}
.cart h1 {
  font-family: "PT Serif";
  font-size: 1.5rem;
  padding: 30px;
}
.cart h3 {
  font-family: "Raleway";
  font-size: 1.2rem;
  padding: 20px;
}

.cartContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cartBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 10px;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.8);
}
.cartBox img {
  height: 150px;
  object-fit: contain;
}

.cartBoxInfo {
  margin-top: 20px;
}

@media (min-width: 480px) {
  .cartBox {
    width: 320px;
  }
}
@media (min-width: 800px) {
  .cartContainer {
    flex-direction: row;
    wrap: warp;
  }
}

/*# sourceMappingURL=style.css.map */
