@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Raleway:wght@400;800&display=swap");
* {
  box-sizing: border-box;
}

body {
  background: #282828;
  color: white;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__logo {
  height: 80px;
}

.header__button-cart {
  margin: 0 5px;
}

.header__button-user {
  margin: 0 5px;
}

.header__button-login {
  margin: 0 5px;
}

.header__button-logout {
  margin: 0 5px;
}

.header__buttons {
  display: flex;
  justify-content: space-around;
  margin: 30px 5px 20px 5px;
}

.auth {
  display: flex;
  flex-direction: column;
}
.auth h2 {
  font-family: "PT Serif";
  font-size: 1.5em;
  margin-bottom: 10px;
  margin-top: 0;
}
.auth p {
  font-family: "Raleway";
}
.auth label {
  font-family: "Raleway";
}
.auth input {
  margin: 5px 0;
  width: 100%;
}

.auth__form {
  text-align: left;
  width: 80%;
  margin: 30px auto;
  padding: 20px 40px;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.8);
}
.auth__form Button {
  margin-top: 10px;
  margin-left: 0;
}

@media (min-width: 800px) {
  .auth {
    flex-direction: row;
    justify-content: center;
  }

  .auth__form {
    width: 350px;
    margin: 30px;
  }
}
.admin h1 {
  font-family: "PT Serif";
  padding-top: 30px;
}
.admin h2 {
  font-family: "Raleway";
  text-align: center;
  padding-top: 5px;
  font-size: 1.5rem;
}
.admin p {
  font-family: "Raleway";
  line-height: 1.4;
}
.admin input {
  width: 100%;
  margin: 5px 0;
}

.addBox {
  text-align: left;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px 40px;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.8);
}

.adminBox {
  text-align: left;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px 40px;
  overflow: auto;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.8);
}
.adminBox .adminFlex {
  display: flex;
}
.adminBox .adminFlex .adminImg {
  height: 200px;
  object-fit: contain;
  margin-right: 5px;
}
.adminBox input {
  width: 100%;
  margin: 5px 0;
}

@media (max-width: 480px) {
  .adminImg {
    display: none;
  }
}
.products {
  text-align: center;
  margin-top: 20px;
}
.products h1 {
  font-family: "PT Serif";
  text-align: center;
  font-size: 2rem;
  margin: 0 15px;
}

.productFlex {
  display: flex;
  flex-direction: column;
}

.productBox img {
  display: block;
  height: 350px;
  object-fit: cover;
  margin: 0 auto;
  cursor: pointer;
}

@media (min-width: 480px) {
  .productFlex {
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0;
  }
}
@media (min-width: 800px) {
  .productBox img {
    transition: 0.5s;
    filter: brightness(60%) grayscale(50%);
  }
  .productBox img:hover {
    filter: brightness(100%) grayscale(0%);
  }
}
.productDisplay {
  display: flex;
  flex-flow: column nowrap;
}
.productDisplay img {
  display: block;
  width: 325px;
  margin: 0 auto;
  object-fit: cover;
}
.productDisplay .infoDisplay {
  text-align: center;
  margin: 0 20px;
  line-height: 1.4rem;
}
.productDisplay .infoDisplay h1 {
  font-family: "PT Serif";
  display: inline-block;
  font-size: 1.5rem;
  margin-bottom: 20px;
  padding-bottom: 8px;
  -webkit-box-shadow: 0px 10px 13px -10px #000000, 0px 28px 0px 26px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -10px #000000, 0px 28px 0px 26px rgba(0, 0, 0, 0);
}
.productDisplay .infoDisplay p {
  font-family: "Raleway";
  margin-bottom: 5px;
}

.doesOwnButton {
  display: inline-block;
  background: none;
  color: white;
  font-family: Tahoma;
  letter-spacing: 1px;
  border: 1px solid white;
  border-radius: 4px;
  padding: 10px;
  margin: 0 10px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.3);
}

.images {
  margin: 30px auto;
}
.images img {
  width: 90vw;
}

@media (min-width: 480px) {
  .images img {
    width: 80vw;
  }
}
@media (min-width: 800px) {
  .images img {
    width: 50vw;
  }
}
.filter {
  margin: 20px;
  display: flex;
}

.filter__form {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  padding: 20px 45px 10px 45px;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.8);
}
.filter__form input {
  margin-bottom: 20px;
  margin-right: 11px;
}

@media (max-width: 480px) {
  .filter__form {
    width: 68vw;
    padding: 20px 45px 10px 45px;
  }
  .filter__form input {
    margin-right: 0;
  }
}
h1 {
  text-align: center;
  font-size: 2rem;
  font-family: "PT Serif";
  padding: 10px;
  margin-bottom: 15px;
}

.flexUserBox {
  display: flex;
  flex-flow: column nowrap;
}

@media (min-width: 800px) {
  .flexUserBox {
    flex-flow: row wrap;
    justify-content: center;
  }
}
.userBox {
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.8);
  margin: 30px;
  padding: 5px;
}
.userBox img {
  height: 250px;
  object-fit: contain;
}

.textBox {
  text-align: center;
  padding-bottom: 10px;
}
.textBox h2 {
  font-size: 1.5rem;
  margin: 17px 0;
  font-family: "PT Serif";
  line-height: 1.4;
}
.textBox p {
  margin: 10px;
  font-family: "Raleway";
  line-height: 1.4;
}
.textBox button {
  margin: 5px 45px;
}

@media (min-width: 480px) {
  .userBox {
    flex-direction: row;
    justify-content: center;
  }
}
@media (min-width: 800px) {
  .userBox {
    width: 450px;
  }
  .userBox img {
    height: 300px;
  }

  .textBox {
    margin-top: 15px;
  }
}
.cart {
  text-align: center;
}
.cart h1 {
  font-family: "PT Serif";
  font-size: 1.5rem;
  padding: 15px;
}
.cart h3 {
  font-family: "Raleway";
  font-size: 1.2rem;
  padding: 20px;
}

.flexCartBox {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

@media (min-width: 800px) {
  .flexCartBox {
    flex-flow: row wrap;
    justify-content: center;
  }
}
.cartBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 10px;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.8);
}
.cartBox img {
  height: 150px;
  object-fit: contain;
  margin-left: 15px;
}

@media (min-width: 480px) {
  .cartBox {
    width: 320px;
    margin: 20px auto;
  }
}
@media (min-width: 800px) {
  .cartBox {
    margin: 20px;
  }
}
.footer {
  text-align: center;
  height: 215px;
}

.footer h2 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 2.5rem;
  margin-top: 35px;
  cursor: pointer;
  margin-top: 35px;
}

.footer h3 {
  font-family: "Raleway";
  margin-top: 15px;
}

.footer__social-links {
  margin: 15px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.footer__social-links img {
  height: 40px;
}

.hero {
  width: 100vw;
  height: 55vh;
  margin-bottom: 200px;
  margin-top: -170px;
}
.hero .hero__text {
  position: relative;
  top: 70%;
}
.hero .hero__text h1 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 3rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.49);
}
.hero .hero__text h2 {
  font-family: "PT Serif";
  font-size: 1.6rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.49);
}
.hero .hero__video {
  width: 100vw;
  height: 50vh;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
}

@media (min-width: 800px) {
  .hero {
    margin-top: -200px;
    margin-bottom: 200px;
  }
  .hero .hero__text h1 {
    font-size: 4rem;
  }
  .hero .hero__text h3 {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
